php_flag display_errors 1
AddType text/x-component .htc

php_value upload_max_filesize 10M
php_value post_max_size 10M

Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


RewriteRule . web/index.php